<div class="wraper" id="wrapper2">
      <div class="row">
          <div class="col-0 col-md-3  col-xl-4"></div>
          <div class="col-12 col-md-6 col-xl-4">
          <br><br>
          <div class="container">
                <div class="card opacity" style="margin-top:90px">
                  <div class="card-block">  
                  <div class="center-btn">
                        <%= image_tag("mainlogo.png", :class => "img-fluid imgsizer3") %>
                        <h4 class="text-center" style="font-weight:bold;">회 원 가 입</h4>              
                  </div>      

                              <p class="text-center" style="font-size:14px">이메일을 잘 기억해 주세요</p>
                              <br>
                              
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                              <%= devise_error_messages! %>
                              <div class="form-group">
                                <%= f.label :name,"이름",class: "control-label" %><br />
                                <%= f.text_field :name, autocomplete: "off", class: "form-control" %>
                              </div>
                              <br>
                              <div class="form-group">
                                <%= f.label :email,"이메일" ,class: "control-label"%><br />
                                <%= f.email_field :email, autofocus: true, class: "form-control" %>
                              </div>
                              <br>
                              <div class="form-group">
                                <%= f.label :password,"비밀번호" ,class: "control-label" %>
                                <% if @minimum_password_length %>
                                <em>(최소 <%= @minimum_password_length %>글자)</em>
                                <% end %><br />
                                <%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
                              </div>
                              <div class="form-group">
                                <%= f.label :password_confirmation,"비밀번호 확인" ,class: "control-label" %><br />
                                <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control"%>
                              </div>
                                 <br>
                                          <div class="form-group">
                                              <%= f.label :avatar,"프로필 사진" ,class: "control-label" %><br><br>
                                               <img src="#" id="img_prev" class="invisible prev-img centerer img-fluid sizer1" alt="your image"/> <br/>              
                                            <%= f.file_field :avatar, "id" => "avatar-upload", class: "form-control"%>
                                            <input type="hidden" name="avatar_cache">
                                          </div>      
                                          
                                <div class="form-group">
                                <%= f.label :info,"짧은 소개글",class: "control-label" %><br />
                                <%= f.text_area :info, autofocus: true,:maxlength => 80,:class =>'form-control' %>
                                </div>
                                <br>
                              <div class="actions">
                                <div class="center-btn">
                                  <%= f.submit "가입하기", class: "btn btn-primary" %>
                                </div>
                            <% end %>
                            
                            <br>
                            <span>이미 회원이라면? </span>&nbsp;
                            <%= render "devise/shared/links" %>
                    </div> 
                  </div>
                </div>
          </div>
          </div>
                
          <div class="col-0 col-md-3 col-xl-4"></div>     
       </div>
</div> 
<style>

.wraper{
    height:350vw;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 770px;
    -o-perspective: 770px;
    perspective: 770px;
}
@media screen and (min-width: 500px) {
#wrapper2{
  height:250vw;
}
}
@media screen and (min-width: 768px) {
#wrapper2{  
  height:170vw;
}
}
@media screen and (min-width: 992px) {
#wrapper2{  
  height:170vh;
}
}
.opacity {
  opacity: 0.85;
}
.sizer1{
  width:150px;
}
.ll{
    font-size:18px;
    font-weight:bold;
    color:white;
    margin-top:0px;
}
.imgsizer3{
  padding-top:20px;
    width:160px;
    padding-bottom:5px;
}

.btn-primary{
    background-color:#585a5e;
    border: 0.3px solid black;
}
.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}
.centerer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<script>
  $(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#avatar-upload").change(function(){
    $('#img_prev').removeClass('invisible');
    readURL(this);
  });
});
</script>
