<div class="entirecontrol">
      <section class="cover" id="cover">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12">
          <h2 class="cover__title text-center">
            세상의 모든 철봉을<br>
            찾아보세요
          </h2>
        <div class="center-btn">
            <div class="cover__form">
           <%= form_tag search_bars_path, method: :get, role: "search" do %>
            <div class="container">
              <div class="row">
                  <div class="col-md-6 offset-md-3">
                      <div id="custom-search-input">
                          <div class="input-group col-md-12">
                              <%= text_field_tag :search, params[:search], class: "form-control input-lg" ,placeholder:"뚝섬유원지"%>
                              <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-lg" style="padding:6px 20px 6px 20px">
                                        <%= image_tag("searchgl.png", :class => "sbt1") %> 
                                    </button>                                
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          <%end%>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Cover -->

<!-- 국봉추천철봉 -->
      <section id="recommendations" class="section">
    <div class="container-fluid">
    <%= image_tag("bartitle.png", :class => "section__title") %>
    <%= link_to "/bars", class: "" do%> 
      <%= image_tag("showbtn.png", :class => "showbtn float-right") %>
    <%end%>
    <div class="row">
        <% @bars.each do |post| %>
                        <div class="col-6 col-md-3 d-flex justify-content-center responsivepdl" id="responsivepd" style="margin-bottom:20px">
                                    <div class="card">
                                            <%= link_to bar_path(post.id), :class=>"hoverer2" do %> 
                                                    <div class="card">
                                                         <img class="card-img img-fluid" src="<%= post.image1.url %>" alt="Card image">
                                                         <p class="titletext text-left" id="titletext"><%=post.title%></p>
                                                         <p class="subtext text-left" id="subtext"><%=post.simplelocation%></p>
                                                    </div>
                                            <%end%>                                         
                                    </div>    
                        </div> 
        <%end%>                
    </div> 
    </div>
  </section>
  <!-- // 국봉추천철봉 -->

      <section id="foreditor" class="section">
          <div class="container-fluid">
              <%= image_tag("coltitle.png", :class => "section__title") %>  
            <%= link_to eposts_path , class: "" do%> 
              <%= image_tag("showbtn.png", :class => "showbtn float-right") %>
            <%end%>              
              <div class="row">
                              <div class="card-deck">
                                  <% @eposts.each do |post| %>
                                              <div class="col-12 col-md-4 d-flex justify-content-center" style="margin-bottom:20px">
                                                  <%= link_to epost_path(post.id), :class=>"hoverer" do %> 
                                                          <div class="card card-inverse">
                                                                       <img class="card-img img-fluid" src="<%= post.thumb.url %>" alt="Card image">
                                                              <div class="card-footer">
                                                                <span class="text-muted" style="font-size:18px; margin-bottom:0px; margin-top:5px; color#424344;"><%=post.title%></span>
                                                               <p class="text-muted" style="font-size:12px; margin-top:5px; margin-bottom:0px; color:#6c6e70;">Written by <%=post.user.name%></p>
                                                              </div>
                                                          </div>
                                                  <%end%>              
                                              </div> 
                                  <% end %>
                              </div>    
              </div> 
          <br>
          </div>
    </section>
    <!-- // 운동게시판 for editor -->

    <!--  서포터즈  -->
      <section id="supporters" class="supporters">
                <div class="row">
                  <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-0 col-md-3"></div>
                          <div class="col-12 col-md-9" style="padding-top:103px;">
                                <h2 class="text-md-left text-center" style="font-weight:bold; color:white;">국봉의 서포터가 되어주세요</h2>
                                <h6 class="text-md-left text-center" style="font-weight:bold; margin-bottom:6px; margin-top:20px; color:#d2d4d8;">무심코 길을 걷다가,</h6>
                                <h6 class="text-md-left text-center" style="font-weight:bold; color:#d2d4d8;">좋은 철봉을 발견했다면 제보해주세요</h6>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-0 col-md-3 col-lg-3"></div>
                          <div class="col-12 col-md-4 col-lg-2">
                            <div class="row">
                                <div class="col-3 col-md-0"></div>
                                  <div class="col-6 col-md-12">
                                    <div class="hover11">
                                      <div class="center-btn">
                                        <%= link_to "/supports/new", class: "supbtnlink" do%> 
                                          <figure><%= image_tag("supbtn.png", :class => "supbtn img-fluid") %></figure>
                                        <%end%> 
                                      </div>
                                    </div> 
                                  </div>  
                                <div class="col-3 col-md-0"></div>  
                            </div>        
                          </div>
                            <div class="col-0 col-md-5 col-lg-7"></div>
                    </div>
                  </div>    
                    
                  <div class="col-12 col-md-4">
                    <div class="row">
                      <div class="col-3 col-md-2 col-lg-4"></div>
                      <div class="col-6 col-md-8 col-lg-4">
                       </div>  
                      <div class="col-5 col-md-2 col-lg-4"></div>                      
                    </div>    
                  </div>
                  
               </div>
      </section>

      <!--  //서포터즈  -->
      
      <!--  운동게시판 for user -->
      <section class="section" style="margin-bottom:0px;">
          <div class="card supcard">
            <div class="card-block" style="padding-top:80px; padding-bottom:80px;">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <div class="col-3 col-md-2 col-lg-4"></div>
                      <div class="col-6 col-md-8 col-lg-4" style="padding-top:27px; padding-bottom:15px; ">
                              <%= image_tag("gbtalk.png", :class => "gblogo img-fluid") %>
                              <%= link_to uposts_path , class: "" do%>
                                  <%= image_tag("gothere.png", :class => "gothere img-fluid") %>
                              <%end%>    
                       </div>  
                      <div class="col-5 col-md-2 col-lg-4"></div>                     
                    </div>    
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-0 col-md-3"></div>
                          <div class="col-12 col-md-9">
                                <h2 class="text-md-left text-center" style="font-weight:bold; color:#4e4f51; padding-top:26px;">모두함께 국봉TALK</h2>
                                <h6 class="text-md-left text-center" style="margin-bottom:6px; margin-top:20px;">유저들과 다양한 운동 정보도 공유하고,</h6>
                                <h6 class="text-md-left text-center">함께 운동할 파트너도 구해보세요!</h6>
                          </div>
                    </div>
                  </div>                   
                </div>
            </div>
          </div>
      </section>
</div>
    <!-- // 운동게시판 for user -->
<div class="addspacer">
  
</div>

      
    
<style>
@media screen and (min-width: 880px) {
.container-fluid {padding-left:70px; padding-right:70px; max-width:100%;}
#titletext {margin-top:10px; font-size:1.2em; color:#424344; margin-bottom:5px;}
#subtext { margin-top:0px; font-size:0.8em;  color:#6c6e70;}
#responsivepd {padding-right:15px;padding-left:15px;}
}
.addspacer{
height:34px;
background-color:#f7f7f7;
}
.entirecontrol{
  background-color:#f7f7f7;
}
/* Opacity #1 */
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}
.responsivepdl {
  padding-right:5px;
  padding-left:10px;
}
.responsivepdr {
  padding-right:10px;
  padding-left:5px;
}
.section__title {
    width:140px;
    margin-top:30px;
    margin-bottom:30px;
}
.titletext{
    margin-top:10px;
    font-size:14px;
    color:#424344;
    margin-bottom:5px;
}

.subtext{
    margin-top:0px;
    font-size:11px;
    color:#6c6e70;
}
    .hoverer{
        opacity:0.82;
    }
    .hoverer:hover{
        opacity:1.0;
        text-decoration:none;
    } 
    .hoverer2{
    }
    .hoverer2:hover{
        opacity:1.0;
        text-decoration:none;
    }     
button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding: 0
}
.showbtn{
  width:80px;
  padding-top:60px;
  opacity:0.8;
}
.showbtn:hover{
  opacity:1;
}
.bg-white {
  background-color: white !important;
}

.bg-primary {
  background-color: blue !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #591bee !important;
}


/* Header */
.sbt1{
    width:28px;
}

/* Cover */
#cover{
    height:62vh;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    margin-bottom:0px;
}
.cover__title{
    padding-top:23vh;
    color:white;
}

.cover__form{
    padding-top:3vh; 
}

.form-control,
.btn-primary {
  border: none;
}


/* Section Commons */

.section {
  margin-bottom:34px;
  background-color:#f7f7f7;
}



/* 국봉추천철봉 */
#recommendations {
  background-color: #f7f7f7;
  /* @@@ 해당 위치에서 컨테이너의 크기를 제한하고 있습니다. */
  /* width:100px; *//*change the value to suite ur need*/
  /* @@@ 컨테이너의 크기를 제한하지 못하도록 100%로 설정하였습니다. */
  width: 100%;
  margin:0 auto;/*this will center ur content*/
}

.section__category {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1.125rem;
  color: black;
  line-height: 1.2em;
  text-align: left;
}
.card {
  text-align: center;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.btn.btn-primary {
  border: none;
  font-size: 0.8rem;
  line-height: 1;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-img-top.height-fix {
    width: auto;
    height: 100%;
  }
}

/* 서포터 */
#supporters{
    height:370px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom:34px; 
}
.supbtn{
  width:140px;
  padding-top:20px;
}
.supbtnlink:hover{
  color:#498de5 
}



/* 운동게시판 for editor */
#foreditor {
  background-color: #f7f7f7;
  width: 100%;
  /* @@@ width:920px; *//*change the value to suite ur need*/
  margin:0 auto;/*this will center ur content*/
}

.card {
    border:0px solid black;
    background-color: transparent
}
.supcard{
  margin-top:20px;
    border:1px solid #d4d6d8;
    background-color:white;
}

.btn.btn-primary {
  border: none;
  font-size: 0.8rem;
  line-height: 1;
}
.gblogo{
  width:250px;
}
.gothere{
  padding-top:15px;
  width:100px;
  opacity:0.75;
}
.gothere:hover{
  opacity:1;  
}

p.copyright {
  color: black;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:10px;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 2;
  color: #8d8d8d;
}
.section{
    background-color: #f7f7f7;
}    
</style>      
      
      