<!DOCTYPE html>
<html>
<head>
  <title>한국철봉</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<script src="https://use.fontawesome.com/acfa4e259c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="http://postfiles10.naver.net/MjAxNzEyMDFfMjU2/MDAxNTEyMTI4Nzg0MTM5.9VKyOe-wN7NQE2u_RozXU9lhHFvpvYusiauIo_5Rj1sg.8o2Xo0aHFeCmG8FY0G04Act5H2er6pcoScwMBA1bHccg.PNG.dickings/kbth.png?type=w773" type="image/png">
<meta property="og:type" content="website">
<meta property="og:title" content="한국철봉(국봉)">
<meta property="og:url" content="https://facebookmaster-donsworkout.c9users.io/">
<meta property="og:description" content="한국의 모든 철봉을 찾아라">
<meta property="og:image" content="http://postfiles9.naver.net/MjAxNzA4MDdfMTk5/MDAxNTAyMDkwMDc0ODgy.Ib2J2z83QdPK0p1ktrFGw9Pm4SYeVA2qaLFquY2uGQMg.GfcqYhs8ns6GcwLWGy8vYqauMyCsu4H5y8_emrLIF6Ig.PNG.dickings/meta.png?type=w2">    
  <%= csrf_meta_tags %>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=OaH6VrQqq_bjqgl2bort&submodules=geocoder"></script>  
<%= ga_script %>
</head>
<body>
<header>
  <div class="navbar-wrapper">
      <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-inverse navbar-inverse" style="padding-top:5px; padding-bottom:5px;">
          <a class="navbar-brand" href="/posts">
            <%= image_tag("mainlogowhite.png", :class => "navlogo") %>
          </a>

      </nav>
    </div>  
</header>
<div class="marginer"></div>
<div class="wrapern" id="wrapper2n">
      <div class="row">
          <div class="col-0 col-md-3 col-lg-4"></div>
          <div class="col-12 col-md-6 col-lg-4">
            <br><br><br><br>
                  <div class="container">
                        <div class="card opacity2">
                          <div class="card-block">  
                          <br><br>
                                <h3 class="notready text-center">찾아주셔서 감사합니다</h3>
                                <h3 class="notready text-center">서비스 개선 중 입니다.</h3>
                                <p class="notreadysub text-center">더욱 강화된 서비스로 찾아오겠습니다</p> 
                                <br>
                                <div class="center-btn fade-in-up">
                                    <%= image_tag("kooksorry.jpg", :class => "sorrypeople responsive-img") %>
                                </div>                                
                                <p class="notreadysub text-center">- 한국철봉 팀 일동 -</p>
                                <div class="center-btn">
                                    <%= image_tag("mainlogo.png", :class => "sorrylogo") %>
                                </div>
                            <br>
                          </div>
                        </div>
                  </div> 
          </div>
          <div class="col-0 col-md-3 col-lg-4"></div>          
      </div>      
</div>    
    <%= ga_track %>

    
<footer>
  <div class="container">
       <div class="blankermar1"></div>

      <div class="blankermara"></div>      
    <div class="center-btn">
            <%= image_tag("footerlogo2.png", :class => "footerlogo responsive-img") %>
      <div class="center-btn">
        
      <nav>
                    <ul class="social" style="padding-left:0px;">
                        <li><a href="https://www.facebook.com/kopullupbar"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/kookbong.official"><i class="fa fa-instagram"></i></a></li>
                    </ul>
      </nav>
      </div>
    
    </div>
   <div class="blankermar2"></div>
  </div>
          <div class="footer-bottom">
            <div class="container">
               <div class="center-btn">
                 <%= image_tag("footrights1.png", :class => "footerright responsive-img") %>
               </div>
                <div class="pull-right">
                </div>
            </div>
        </div> <!--/.footer-bottom-->   
</footer>



    
      
                  
                  
                  
            
          
</body>
</html>
<style>
.nav-link,
.dropdown-item,
.navbar-toggler {
  font-size: 0.73rem;
  line-height: 1.82;
  font-weight: 700;
  letter-spacing: 0.27em;
  text-transform: uppercase;
}
.footlogo2{
  margin-top:16px;
  margin-bottom:0px;
}
.marginer{
  height:62px;
}
.navbar-toggler {
  border: none;
}
  .navlogo{
    width:115px;
  }
.dropdown-menu {
  min-width: 0;
}
  .navbar-brand{
    max-width:115px;
  }
  
#wrapper2n{
    height:1000px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 770px;
    -o-perspective: 770px;
    perspective: 770px;
}

</style>