<div id="comment-<%=comment.id%>">
        <div class="row">
                <div class="col-2 col-md-1" style="padding-right:0px">
                                          <%if  comment.user.avatar.thumb.url %>
                                              <%= link_to controller: "tposts", action: "index", :user_id => comment.user_id,:class=>"bthover" do %>
                                                  <img class="rounded-circle thumb2" src="<%= comment.user.avatar.url %>" />
                                              <%end%>               
                                          <%elsif  comment.user.image %>
                                              <%= link_to controller: "tposts", action: "index", :user_id => comment.user_id,:class=>"bthover" do %>
                                                  <img class="rounded-circle thumb2" src="<%= comment.user.image %>" />
                                              <%end%>
                                          <%else%>
                                               <%= link_to controller: "tposts", action: "index", :user_id => comment.user_id,:class=>"bthover" do %>
                                                  <%= image_tag("ph1.png", :class => "rounded-circle thumb2") %>
                                              <%end%>                                             
                                          <%end%>   
                                          
                </div>      
                <div class="col-10 col-md-11" style="padding-left:0px">
                            <span class="title3"><%= comment.user.name %></span>
                            <span class="float-right timeforman2"><%= distance_of_time_in_words Time.now, comment.created_at%></span> 
                            <p class="comcont"><%= comment.content %></p>
                                <% if !user_signed_in? %> 
                                    <%else%>                                                
                                        <% if comment.user.id == current_user.id %>
                                            <%= link_to image_tag("deleteiconsm.png"), tpost_tcomment_path($ajaxpost, comment), method: "delete", class: "float-right",remote: true,:data => {:confirm => '진짜 지워요?'} %>
                                        <% end %>  
                                 <%end%>      
                                 <br>
                </div>   
       </div>
       <hr>
</div>