
  <div class="upostbanner" id="ban2">
    <div class="center-btn">
      <%= image_tag("gbtalk2.png", :class => "img-fluid imgsizer2") %>
    </div>
    <div class="center-btn">
      <%= link_to new_upost_path, :class=>"" do %>
        <%= image_tag("btnobo.png", :class => "button1") %>
      <% end %>
    </div>
  </div>

<div class="container">
        <div class="cateselect">
            <%= link_to image_tag("cateen.png", :class => "img-fluid catesizer"), uposts_path %>
            <%= link_to image_tag("catetr.png", :class => "img-fluid catesizer"), uposts_path(:category => 2) %>
            <%= link_to image_tag("catenu.png", :class => "img-fluid catesizer"), uposts_path(:category => 3) %>
            <%= link_to image_tag("cateno.png", :class => "img-fluid catesizer"), uposts_path(:category => 1) %>
        </div>
        <table class="table">
          <% if @notice.present? %>
            <thead class="thead-default">
              <tr>
                <th class="fixratio" id="fixratio">
              <%= link_to adminpost_path(@notice.id), :class=>"hoverer" do %>
                <span class="cate">
                  [공지]
                </span>
                <%= @notice.title%>
              <%end%>
                <br>
                <span class="small">관리자&nbsp;<%= @notice.created_at.strftime("%Y.%m.%d %H:%M")%></span>
                </th>
                <th class="fixratio2">
                  <div class="center-btn">
                  <span class="small">읽어보면</span><br>
                  </div>
                  <div class="center-btn">
                  <span class="numgood">이득</span>
                  </div>
                </th>
              </tr>
            </thead>
          <% end %>
          <tbody>
    <%if @users %>
      <% @users.each do |user| %>
        <% user.uposts.each do |post| %>
            <tr>
              <td class="fixratio" id="fixratio">
            <%= link_to upost_path(post.id), :class=>"hoverer" do %>
              <span class="cate">
                <%if post.category==1%>
                [일반]
                <%elsif post.category==2%>
                [트레이닝]
                <%elsif post.category==3%>
                [영양/식단]
                <%end%>
              </span>
              <%=post.title%>
            <%end%>
              <br>
              <span class="small"><%=post.user.name%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=post.created_at.strftime("%Y.%m.%d %H:%M")%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=post.impression_count%>&nbsp;views</span>
              </td>
              <td class="fixratio2">
                <div class="center-btn">
                <span class="small">댓글</span><br>
                </div>
                <div class="center-btn">
                <span class="numgood"><%=post.ucomments.count%></span>
                </div>
              </td>
            </tr>
         <% end %>
       <%end%>
    <% else %>
        <% @posts.each do |post| %>
            <tr>
              <td class="fixratio" id="fixratio"><%= link_to upost_path(post.id), :class=>"hoverer" do %>
              <span class="cate">
                <%if post.category==1%>
                [일반]
                <%elsif post.category==2%>
                [트레이닝]
                <%elsif post.category==3%>
                [영양/식단]
                <%end%>
              </span>
              <%=post.title%>
              <%end%>
              <br>
              <span class="small"><%=post.user.name%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=post.created_at.strftime("%Y.%m.%d %H:%M")%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=post.impression_count%>&nbsp;views</span>
              </td>
              <td class="fixratio2">
                <div class="center-btn">
                <span class="small">댓글</span><br>
                </div>
                <div class="center-btn">
                <span class="numgood"><%=post.ucomments.count%></span>
                </div>
              </td>
            </tr>
          <% end %>
    <%end%>
          </tbody>
        </table>
    <div class="luckdiv">
      <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <br>
    <%= form_tag(uposts_path, :method => "get") do %>
      <div class="row">
        <div class="col-4 col-md-2" style="padding-right:5px">
             <%= select_tag(:selecto, options_for_select({ "제목" => 1, "내용" => 2, "제목/내용" => 3 ,"글쓴이" => 4  },params[:selecto]), class:'form-control form-control-sm')%>
        </div>
        <div class="col-5 col-md-3" style="padding-right:6px; padding-left:0px"><%= text_field_tag :search, params[:search],:id=>"textarea1", placeholder: "검색어를 입력하세요" , class: 'form-control form-control-sm'%></div>
        <div class="col-3 col-md-2" style="padding-left:0px"><%= button_tag "검색", class: "btn btn-primary btn-sm" %></div>
        <div class="col-0 col-md-5"></div>
      </div>
    <%end%>
      <br><br>
</div>

<style>
.nav-link:hover{
    color:white;
    opacity:0.8;
}
@media screen and (min-width: 900px) {
#fixratio {width:90%;}
#fixratio2 {width:10%;}
}
.cate{
    font-weight:bold;
}
.numgood{
    font-weight:bold;
    font-size:17px;
}
.commentsu{
    color:#ffa03a;
}
.datefont{
    font-size:11px;
}
.fixratio{
    width:80%;
}
.fixratio2{
     width:20%;
}
.cateselect{
    margin-bottom:30px;
}
.catesizer{
    width:80px;
    margin-right:5px;
    margin-top:10px;
}
th{
    font-size:15px;
}
td{
    font-size:13px;
}
section{
        background-color:#e5e5e5;
        min-height:1200px;
}
.croper{
    height:230px;
  object-fit: cover; /* Do not scale the image */
  object-position: center;
}
.verticala{
    margin:auto;
}
    .card{
        width:100%;
        margin-bottom:14px;
    }
    .bng{
        max-height:140px;
    }
    .card-title1{
        font-size:16px;
        color:#424242;
        margin-bottom:4px;
    }
    .whoer{
        padding-top:3px;
        font-size:13px;
        margin-bottom:0px;
    }
    .cardfoot{
        border-top:1px solid #e0e0e0;
    }
    .colorer{
        color:#ff1744;
    }
    .colorized1{
        background-color:#464540;
    }
    .alignimg{
        margin-bottom:12px;
    }
    .sizer{
        width:55px;
    }
    .blankerbt{
        margin-bottom:20px;
    }
    .sizer2{
        padding-left:5px;
        padding-top:1px;
        width:55px;
        opacity:0.86;
    }
    .sizer2:hover{
        opacity:1.0;
    }
        .imgsizer{
        width:320px;
        padding-bottom:0px;
    }
    .imgsizer2{
        padding-top:140px;
        width:190px;
    }

.btn-primary{
    background-color:#585a5e;
    border: 0.3px solid black;
}
.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}
#ban2{
    height:340px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    margin-bottom:20px;
}
    .button1{
        width:110px;
        opacity:0.8;
    }
    .button2{
        width:110px;
        opacity:0.8;
    }
    .button1:hover{
        opacity:1.0;
    }
    .button2:hover{
        opacity:1.0;
    }
    .hoverer{
        color:black;
        opacity:0.84;
    }
    a:hover {
        color:black;
    }
    .hoverer:hover{
        text-decoration:none;
        opacity:1;
    }
    #textarea1:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #616161;
}
.phcss{
    max-width:72px;
}
.tt{
    margin:4px;
}
.card-img{
    width:550px;
}

.card {
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	img {
		width: 100%;
	}
}

.rowup{
	margin-bottom: 1em;
  justify-content: center;
}

 .res{
	background: #efefef;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}
.thumb1{
    width:52px;
    padding-right:10px;
}
.thumbu{
    max-width:80px;
}
.titletext{
    margin-top:10px;
    font-size:20px;
    color:#424344;
    margin-bottom:5px;
}

.subtext{
    margin-top:0px;
    font-size:15px;
    color:#6c6e70;
}
.thumbfin{
    width:70px;
    margin-bottom:8px;
}
.hov2:hover{
    text-decoration:none;
}
</style>
