<div class="spt_admin" id="spt_admin">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">
        <div id="left_whiter">
          <h2 class="slim_and_cool small_title"><span class="emp_key">국봉토크</span>
            <% if @post.category==1 %>
            [일반]
            <% elsif @post.category==2 %>
            [트레이닝]
            <% elsif @post.category==3 %>
            [영양/식단]
            <% else %>
            [기타]
            <%end%>
          </h2>
          <h3 class="slim_and_cool smed_title">[<%= @post.title %>]</h3>
          <h3 class="med_and_modern big_title"><%= @post.created_at.strftime("%y %b %d at %I:%M%p")   %></h3>
          <% if @post.image.url %>
            <img src="<%= @post.image.url %>" class="img-fluid">
          <%end%>
          <div class="beauti_margin slim_and_normal">
            <%= simple_format(@post.content) %>
          </div>
          <div class="ad_footer">
            <% if !user_signed_in? %>
            <% else %>
              <% if current_user.id == @post.user.id %>
                <%= link_to "삭제하기", upost_path(@post), method: "delete", class: "float-right edit_txt_btn",:data => {:confirm => '정말 지우시겠어요?'} %>
                <%= link_to "편집하기", edit_upost_path(@post), class: "float-right mr-edit edit_txt_btn"%>
                <br>
              <% end %>
            <% end %>
            <a href="/uposts" class="big_nice_btn hvr-right be_bot mg-lft">국봉토크 목록으로</a>
          </div>
        </div>
        <div class="profilecard text-center">
          <%if @post.user.avatar.url %>
            <%= link_to controller: "tposts", action: "index", :user_id => @post.user_id,:class=>"bthover" do %>
                <img class="rounded-circle thumb_pro" src="<%= @post.user.avatar.url %>" />
            <%end%>
          <%elsif @post.user.image %>
            <%= link_to controller: "tposts", action: "index", :user_id => @post.user_id,:class=>"bthover" do %>
                <img class="rounded-circle thumb_pro" src="<%= @post.user.image %>" />
            <%end%>
          <%else%>
            <%= link_to controller: "tposts", action: "index", :user_id => @post.user_id,:class=>"bthover" do %>
                <%= image_tag("ph1.jpg", :class => "rounded-circle thumb_pro") %>
            <%end%>
          <%end%>
          <p class="written_by">Written by <span class="namer_pro"><%= @post.user.name %></span></p>
          <hr style="border:0.5px solid black; opacity:0.5;">
          <p class="info_pro"><%= @post.user.info %></p>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div id="right_whiter">
          <div id="comments">
            <% if @comments.present? %>
              <% @comments.reverse.each do |comment| %>
                <%= render partial: "ucomments/item", locals: { comment: comment } %>
              <%end%>
            <% else %>
              <div class="no_comment" id="alert_mes">
                <p>아직 <strong>댓글</strong>이 없습니다 : )</p>
              </div>
            <% end %>
          </div>
          <%= form_tag upost_ucomments_path(@post) , remote: true, :authenticity_token => true do %>
              <% if !user_signed_in? %>
                <div class="form-group">
                  <fieldset disabled>
                    <div class="row">
                      <div class="col-10" style="padding-right:0px;">
                        <div class="input-field smaller">
                          <%= text_area_tag :content, nil, class: "form-control tarea_upost", placeholder: "회원만 댓글을 쓸 수 있습니다", required: true %>
                        </div>
                      </div>
                      <div class="col-2" style="padding-left:0px;">
                        <div class="input-field center-btn">
                          <%= button_tag ">>", class: "small_compact_btn" %>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              <% else %>
                <div class="form-group" style="padding-bottom:10px;">
                  <div class="row">
                    <div class="col-10" style="padding-right:0px;">
                      <div class="input-field smaller">
                        <%= text_area_tag :content, nil, class: "form-control tarea_upost", placeholder: "댓글을 작성해 주세요", required: true %>
                      </div>
                    </div>
                    <div class="col-2" style="padding-left:0px;">
                      <div class="input-field center-btn">
                        <%= button_tag ">>", class: "small_compact_btn hvr-right_sky" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
          <% end %>
          <%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .previous page-item disabled{
    border: 2px solid black;
  }
  .page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: black;
    border: 2px solid black;
  }
  .page-link{
    color:black;
    border: 2px solid white;
    font-size:12px;
    padding: 0.4rem 0.63rem;
  }
  .page-link:hover{
    color:#545759;
  }
</style>
