<!DOCTYPE html>
<html>
<head>
  <title>한국철봉</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<script src="https://use.fontawesome.com/acfa4e259c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="http://postfiles6.naver.net/MjAxNzA5MTVfMTg5/MDAxNTA1NDc3NTcxMzU4.dm25053Bq9ew1biB1Hd_Dhf20ZNLc-obxwP3LBWoBhog.LbyiuerJ3IC7F-uI7ZyBz_T0AvPu10H-edEEovDeS8cg.PNG.dickings/titleth.png?type=w2" type="image/png">
<meta property="og:type" content="website">
<meta property="og:title" content="한국철봉(국봉)">
<meta property="og:url" content="https://facebookmaster-donsworkout.c9users.io/">
<meta property="og:description" content="한국의 모든 철봉을 찾아라">
<meta property="og:image" content="http://postfiles9.naver.net/MjAxNzA4MDdfMTk5/MDAxNTAyMDkwMDc0ODgy.Ib2J2z83QdPK0p1ktrFGw9Pm4SYeVA2qaLFquY2uGQMg.GfcqYhs8ns6GcwLWGy8vYqauMyCsu4H5y8_emrLIF6Ig.PNG.dickings/meta.png?type=w2">    
  <%= csrf_meta_tags %>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=OaH6VrQqq_bjqgl2bort&submodules=geocoder"></script>  


</head>
<body>
<header>
  <div class="navbar-wrapper">
      <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-inverse navbar-inverse" style="padding-top:5px; padding-bottom:5px;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="padding-top:20px;">
          Menu
        </button>
          <a class="navbar-brand" href="/posts">
            <%= image_tag("mainlogowhite.png", :class => "navlogo") %>
          </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/" lang="en">Home <span class="sr-only">(현재 페이지)</span></a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/intros" lang="ko">서비스소개</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/eposts" lang="ko">국봉칼럼</a>
            </li>     
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/uposts" lang="ko">국봉토크</a>
            </li>             
            <% if !user_signed_in? %>
                    <li class="nav-item px-lg-3">
                      <a class="nav-link" href="/users/sign_in" lang="ko">로그인</a>
                      </li> 
                    <li class="nav-item px-lg-3">
                      <a class="nav-link" href="/users/sign_up" lang="ko">회원가입</a>
                    </li>
             <% else %>     
                  <li class="nav-item px-lg-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" lang="en">
                      my
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item pl-0 pl-lg-3" href="/tposts/index/<%=current_user.id %>" lang="en">운동일지</a>
                      <%= link_to '로그아웃', destroy_user_session_path, method: 'delete', class: "dropdown-item pl-0 pl-lg-3"%>                      
                    </div>
                  </li>
            <%end%>
          </ul>
        </div>
      </nav>
    </div>  
</header>
<div class="marginer"></div>
    <%= yield %>
    
    
    
<footer class="footer2">
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-6 col-sm-6 col-12">
                  <br>
                  <div class="row">
                    <div class="col-1 col-md-0"></div>
                    <div class="col-10 col-md-12">
                    <div class="center-btn">
                    <%= image_tag("colabo.png", :class => "footlogo") %>
                    </div>
                      <div class="row">
                      
                      <div class="col-6">
                          <ul class="list-unstyled">
                              <li><a href="/" class="luxury text-center">홈페이지</a></li>                            
                              <li><a href="/intros" class="luxury text-center">서비스소개</a></li>
                              <li><a href="/posts/kbeditor" class="luxury text-center">개발자들</a></li>
                                                       
                          </ul>
                      </div>
                      <div class="col-6">
                          <ul class="list-unstyled">
                              <li><a href="/eposts" class="luxury text-center">국봉칼럼</a></li>
                              <li><a href="/uposts" class="luxury text-center">국봉토크</a></li>
                              <li><a href="/posts/rule" class="luxury text-center">개인정보취급방침</a></li>  
                          </ul>
                      </div>
                      </div>
                      <div class="col-1 col-md-0"></div>
                   </div>
                </nav>
                
               

                <nav class="col-md-6 col-sm-6 col-12">
                    <%= image_tag("centerslogan.png", :class => "footlogo2") %>
                    <ul class="social" style="padding-left:0px;">
                        <li><a href="https://www.facebook.com/kopullupbar"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/koreanpullupbar"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </nav>

            </div> <!--/.row--> 
        </div> <!--/.container--> 
    </div> <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <div class="text-center"> &copy; 2017 한국철봉 All Rights Reserved + koreanpullupbar@gmail.com </div>
            <div class="pull-right">
            </div>
        </div>
    </div> <!--/.footer-bottom--> 
</footer>



    
      
                  
                  
                  
            
          
</body>
</html>
<style>
.nav-link,
.dropdown-item,
.navbar-toggler {
  font-size: 0.73rem;
  line-height: 1.82;
  font-weight: 700;
  letter-spacing: 0.27em;
  text-transform: uppercase;
}
.footlogo2{
  margin-top:16px;
  margin-bottom:24px;
}
.marginer{
  height:62px;
}
.navbar-toggler {
  border: none;
}
  .navlogo{
    width:115px;
  }
.dropdown-menu {
  min-width: 0;
}
  .navbar-brand{
    max-width:115px;
  }
.footlogo{
  width:420px;
  margin-bottom:20px;
}
/* Sticky footer position and size
-------------------------------------------------- */


/* Taller footer on small screens */

/* Sticky footer style and color
-------------------------------------------------- */
/*FOOTER 2*/
.footer2 a {
    color: #DDD;
}

.footer2 a:hover,
.footer2 a:focus,
.footer2 a:active {
    color: #FFF;
}

.footer2 .footer {
    background-color: #2E3436;
    padding: 35px 0;
}

.footer2 .footer nav h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}

.footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
}

.footer2 .footer nav ul li a {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    font-size: 13px;
}

.footer2 .footer .input-group {
    margin: 15px auto;
    max-width: 400px;
}

.footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
}

.footer2 .footer .form-control:hover,
.footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
}

.footer2 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer2 .footer .social li {
    float: left;
}

.footer2 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 5px 4px
}

.footer2 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer2 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer2 .footer-bottom ul li {
    display: inline-block;
}

.footer2 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer2 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer2 .footer-bottom ul li:last-child a:after {
    content: "";
}

.pull-left {
	   float: none;
	   
@media (max-width: 550px) {
    .footer2 .footer-bottom .pull-left,
	.footer2 .footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
}
@media (max-width: 767px) {
    .footer2 .footer {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .footer2 .footer ul {
        margin-bottom: 30px;
    }
}

</style>