<!DOCTYPE html>
<html>
<head>
  <title>한국철봉</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<script src="https://use.fontawesome.com/acfa4e259c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="http://postfiles10.naver.net/MjAxNzEyMDFfMjU2/MDAxNTEyMTI4Nzg0MTM5.9VKyOe-wN7NQE2u_RozXU9lhHFvpvYusiauIo_5Rj1sg.8o2Xo0aHFeCmG8FY0G04Act5H2er6pcoScwMBA1bHccg.PNG.dickings/kbth.png?type=w773" type="image/png">
<meta property="og:type" content="website">
<meta property="og:title" content="한국철봉(국봉)">
<meta property="og:url" content="https://facebookmaster-donsworkout.c9users.io/">
<meta property="og:description" content="한국의 모든 철봉을 찾아라">
<meta property="og:image" content="http://postfiles9.naver.net/MjAxNzA4MDdfMTk5/MDAxNTAyMDkwMDc0ODgy.Ib2J2z83QdPK0p1ktrFGw9Pm4SYeVA2qaLFquY2uGQMg.GfcqYhs8ns6GcwLWGy8vYqauMyCsu4H5y8_emrLIF6Ig.PNG.dickings/meta.png?type=w2">    
  <%= csrf_meta_tags %>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=OaH6VrQqq_bjqgl2bort&submodules=geocoder"></script>  
<%= ga_script %>
</head>
<body>
<header>
  <div class="navbar-wrapper">
      <nav class="navbar navbaropa fixed-top navbar-toggleable-md" style="padding-top:5px; padding-bottom:5px;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="padding-top:20px;">
          Menu
        </button>
          <a class="navbar-brand" href="/posts">
            <%= image_tag("mainlogowhite.png", :class => "navlogo") %>
          </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/posts" lang="en">Home <span class="sr-only">(현재 페이지)</span></a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/intros" lang="ko">서비스소개</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/bars" lang="ko">철봉목록</a>
            </li>    
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/uposts" lang="ko">국봉토크</a>
            </li>      
            <% if !user_signed_in? %>
                    <li class="nav-item px-lg-3">
                      <a class="nav-link" href="/users/sign_in" lang="ko">로그인</a>
                      </li> 
             <% else %>     
                  <li class="nav-item px-lg-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" lang="en">
                      my
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item pl-0 pl-lg-3" href="/tposts/index/<%=current_user.id %>" lang="en">운동일지</a>
                      <%= link_to '로그아웃', destroy_user_session_path, method: 'delete', class: "dropdown-item pl-0 pl-lg-3"%>                      
                    </div>
                  </li>
            <%end%>
          </ul>
        </div>
      </nav>
    </div>  
</header>
    <%= yield %>
    <%= ga_track %>
    
    
<footer class="footer">
  <div class="container">
       <div class="blankermar1"></div>
      <div class="center-btn">
          <a href="/" class="footlink">홈페이지</a> 
          <a href="/intros" class="footlink">서비스소개</a> 
          <a href="/bars" class="footlink">철봉찾기</a>           
          <a href="/uposts" class="footlink">국봉토크</a> 
          <a href="/posts/rule" class="footlink">개인정보취급방침</a> 
      </div>
      <div class="blankermara"></div>      
      <div class="center-btn">
        
      <nav>
                    <ul class="social" style="padding-left:0px;">
                        <li><a href="https://www.facebook.com/kopullupbar"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/kookbong.official"><i class="fa fa-instagram"></i></a></li>
                    </ul>
      </nav>
      </div>
    
   <div class="blankermar2"></div>
  </div>
          <div class="footer-bottom">
            <div class="container">
               <div class="center-btn">
                 <%= image_tag("footrights1.png", :class => "footerright responsive-img") %>
               </div>
                <div class="pull-right">
                </div>
            </div>
        </div> <!--/.footer-bottom-->   
</footer>



    
      
                  
                  
                  
            
          
</body>
</html>
<style>
.footlogo2{
  margin-top:16px;
  margin-bottom:0px;
}
.marginer{
  height:62px;
}
.navbar-toggler {
  border: none;
}
  .navlogo{
    width:115px;
  }
.dropdown-menu {
  min-width: 0;
}
  .navbar-brand{
    max-width:115px;
  }
.backg{
  min-height:80vh;
}
</style>