<!DOCTYPE html>
<html>
<head>
  <title>한국철봉</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="website">
<meta property="og:title" content="한국철봉(국봉)">
<meta property="og:url" content="https://facebookmaster-donsworkout.c9users.io/">
<meta property="og:description" content="한국의 모든 철봉을 찾아라">
<meta property="og:image" content="http://postfiles9.naver.net/MjAxNzA4MDdfMTk5/MDAxNTAyMDkwMDc0ODgy.Ib2J2z83QdPK0p1ktrFGw9Pm4SYeVA2qaLFquY2uGQMg.GfcqYhs8ns6GcwLWGy8vYqauMyCsu4H5y8_emrLIF6Ig.PNG.dickings/meta.png?type=w2">    
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="navbar-wrapper">
      <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-inverse navbar-inverse" style="padding-top:5px; padding-bottom:5px;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="padding-top:20px;">
          Menu
        </button>
          <a class="navbar-brand" href="/posts">
            <%= image_tag("mainlogowhite.png", :class => "navlogo") %>
          </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="#" lang="en">Home <span class="sr-only">(현재 페이지)</span></a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="#" lang="ko">서비스소개</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="#" lang="ko">철봉찾기</a>
            </li>  
            <li class="nav-item px-lg-3">
              <a class="nav-link" href="/eposts" lang="ko">국봉칼럼</a>
            </li>              
            <% if !user_signed_in? %>
                    <li class="nav-item px-lg-3">
                      <a class="nav-link" href="/users/sign_in" lang="ko">로그인</a>
                      </li> 
                    <li class="nav-item px-lg-3">
                      <a class="nav-link" href="/users/sign_up" lang="ko">회원가입</a>
                    </li>
             <% else %>     
                  <li class="nav-item px-lg-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" lang="en">
                      my
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item pl-0 pl-lg-3" href="/tposts/index/<%=current_user.id %>" lang="en">운동일지</a>
                      <%= link_to '로그아웃', destroy_user_session_path, method: 'delete', class: "dropdown-item pl-0 pl-lg-3"%>                      
                    </div>
                  </li>
            <%end%>
          </ul>
        </div>
      </nav>
    </div>  
</header>
<div class="marginer"></div>
    <%= yield %>
    
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <br>
                <%= image_tag("colabo.png", :class => "footlogo") %>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="" class="luxury">모든철봉</a></li>
                            <li><a href="" class="luxury">국봉칼럼</a></li>
                            <li><a href="" class="luxury">국봉TALK</a></li>
                            <li><a href="" class="luxury">운동일지</a></li>                            
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="" class="luxury">서비스소개</a></li>
                            <li><a href="" class="luxury">서포터즈</a></li>
                            <li><a href="" class="luxury">개발자들</a></li>
                            <li><a href="" class="luxury">About</a></li>
                        </ul>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5 marginadd">
                 <%= image_tag("contactus.png", :class => "footlogo2") %>
                  <a href="" class="nav-link" style="margin-bottom:7px; padding-left:0px;">Facebookpage</a>
                 <a href="" class="nav-link" style="margin-bottom:7px; padding-left:0px;">Instagram</a>
                 <p class="nav-link" style="padding-left:0px;">kookbbong@likelion.org</p>
                 <h6 style="margin-top:5px;">&copy; 2017 한국철봉 All Rights Reserved.</h6> 
            </div>
        </div>
    </div>
</footer>
          
</body>
</html>
<style>

.nav-link,
.dropdown-item,
.navbar-toggler {
  font-size: 0.73rem;
  line-height: 1.82;
  font-weight: 700;
  letter-spacing: 0.27em;
  text-transform: uppercase;
}
.marginer{
  height:62px;
}
.navbar-toggler {
  border: none;
}
  .navlogo{
    width:115px;
  }
.dropdown-menu {
  border: none;
}
  .navbar-brand{
    max-width:115px;
  }

/* Sticky footer position and size
-------------------------------------------------- */


/* Taller footer on small screens */

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  background-color: #292c2f;
  color: #bbb;
}
.footlogo{
  width:300px;
  margin-bottom:40px;
}
.footlogo2{
  margin-top:30px;
  width:136px;
  margin-bottom:38px;
}
.marginadd{
  padding-bottom:50px;
}
footer a {
  color: #999;
  text-decoration:none;
}


footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}
.luxury{
  font-size: 0.84rem;
  line-height: 1.93;
  font-weight: 700;
  letter-spacing: 0.35em;
  text-transform: uppercase;  
}
  </style>

